/* variables */
:root {
  --white: #fff;
  --main: #eaedf0;
  --accent: #0041ff;
  --accent-2: #ebedf0;
}

html,
body {
  min-height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--white);
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}
