.map-container {
  height: 100vh;
  width: 100%;
}

.map {
  flex: 1;
  width: 100%;
  height: 100%;
}

.map-selector {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  z-index: 1000;
}

.ship-selector {
  position: absolute;
  top: 0;
  right: 1;
  padding: 2px;
  z-index: 1000;
} 

.timestamp-marker {
  background-color: white;
  padding: 4px;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  color: #000;
  font-weight: 500;
  /* text-shadow: 0 0 15px white; */
}